body {
    margin: 0;
}
img {
    height: 200px;
    object-fit: cover;
}

a:link {
    text-decoration: none;
}

.button {
    margin: 5px 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    max-width: 30%;
}
/*
.chat-container {
    height: 600px;
    overflow-y: scroll;
} */

.otherProfileBox {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.otherProfileContainer {
    display: flex;
    flex-direction: row;
}

.otherProfilePic {
    height: 200px;
    max-width: 200px;
    margin-top: 20px;
}

.textfield {
    margin: 10px;
}
